<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Job Recommand</title>

    <link rel="stylesheet" href='static/css/index.css'>
</head>
<body>


{%if user.is_authenticated%}
<nav>
    <p>hello{{username}}, welcome to use job recommodation</p>
    <div class="btn">

        <a href="profile" class="profile-btn">profile</a>
        <a href="logout" class="logout-btn">signout</a>
    </div>

</nav>
{%else%}
<nav>
    <div class="btn">
        <a href="register" class="register-btn">register</a>
        <a href="login" class="login-btn">login</a>
    </div>
</nav>
{%endif%}
{% block content %}{% endblock %}


</body>
</html>