<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/register.css" >
</head>
<body>
<div class="center">
    <h1>Register</h1>
    <form action="" method="post">
        {%csrf_token%}
        <div class="txt_field">
            <label for="">Username</label>
            <input type="text" id="username" name="username" required>
            <span></span>
        </div>

        <div class="txt_field">
            <label for="">password</label>
            <input type="text" id="password" name="password" required>
            <span></span>
        </div>

        <button type="submit"> Register Now</button>

    </form>

</div>


</body>
</html>