body{
margin: 0;
padding: 0;
font-family: montserrat;
/*background-image: url('');*/
background: linear-gradient(120deg,#2980b9, #8e44ad);
height: 80vh;
overflow: hidden;
}

nav{
    position:relative;
    height:30px;

}
nav .btn{
position:absolute;
right:10px;

}
.title{
    text-align:center;
}

nav .profile-btn{
background: #3f51b5d1;
text-decoration:none;
font-size:2px;
padding:9px 18px;
margin:5px;
color:#fff;
border-radius:4px;
}

nav .logout-btn{
background: #3f51b5d1;
text-decoration:none;
font-size:2px;
padding:9px 18px;
margin:5px;
color:#fff;
border-radius:4px;
}

nav .register-btn{
background: #3f51b5d1;
text-decoration:none;
font-size:2px;
padding:9px 18px;
margin:5px;
color:#fff;
border-radius:4px;
}

nav .login-btn{
background: #3f51b5d1;
text-decoration:none;
font-size:2px;
padding:9px 18px;
margin:5px;
color:#fff;
border-radius:4px;
}

.list {
position:relative;
width:auto;
margin:40px 8%;
padding: 10px;
background:#03aef445;
border-radius:8px;
}

span{
font-weight:600;
}
p{
    width:auto;
    font-size:4px;
    font-family: "Trebuchet MS";
}

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 70%;
  height:100% ;
  background-color: rgba(255, 255, 255, 0.5);
}