body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: montserrat;
    /*background-image: url('');*/
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.nav-content {
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 20px 20px;
    height: 27px;
    display: flex;
}

.title {
    text-align: center;
}

.btn-group {
    position: absolute;
    right: 5%;
}
.nav-content .nav-btn {
    text-decoration: none;
    padding: 3px 5px;
    font-size: 16px;
    background: #3f51b5d1;
    border-radius: 4px;
    color: #fff;
}

/*nav .nav-btn {*/
/*    background: #3f51b5d1;*/
/*    text-decoration: none;*/
/*    font-size: 2px;*/
/*    padding: 9px 18px;*/
/*    margin: 5px;*/
/*    color: #fff;*/
/*    border-radius: 4px;*/
/*}*/

.list {
    margin: 10%;
    overflow-wrap: break-word;
}

.item {
    margin: 10px 0;
    padding: 8px;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 8px;
}

span {
    font-weight: 600;
}

p {
    width: auto;
    font-size: 4px;
    font-family: "Trebuchet MS";
}

.container {
    width: 70%;
    margin: auto;
    height: 100%;
    padding: 67px 5% 5%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
}